.cards h2 {
    font-size: 32px;
    line-height: 1.19;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
.cards q {
    font-size: 18px;
    line-height: 1.34;
    color: #000000;
    margin-top: 23px;
    display: block;
    text-align: center;
}
.gifts {
    width: 1170px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "card1 card2 card3 card4";
}
.gifts h3 {
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 75px;
    padding-left: 24px;
}
.gifts a {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    padding-left: 24px;
}
.gift-cards {
    width: 270px;
    height: 436px;
    background: #FAFAFA;
    margin-bottom: 137px;
}
.cards img {
    width: 270px;
    height: 270px;
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.gift-cards:hover {
    background: #FFFFFF;
    filter:drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}
